body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#con1{
    
    transform: translateY(30px);
   
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 20px;
    overflow: auto;
    box-shadow: 1px 5px 10px 5px rgba(128,100,100,0.2);

}
h1{
    text-align: center;
    color: blue;
}
#con2{
    display: grid;
    margin: 20px;
    row-gap: 30px;
    width: 350px;
   border-radius:20px ;
    
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    
/* padding-bottom: 10px; */
padding: 10px;
box-shadow: 1px 5px 10px 5px rgba(128,100,100,0.2);

   
}

#commentscon{

display: grid;
margin: 10px;
}
#commentcon1{

    box-shadow: 1px 5px 10px 5px rgba(128,100,100,0.2);
   border-radius: 10px;
   padding-left: 10px;
   margin: 10px;
    
}
button{
    border-radius: 20px;
    background-color: blue;
    width: 100px;
    border: none;
    color: white;
    transform: translateX(120px);
    font-size: 20px;

}